.heading{
    font-family: 'Oxanium';
    text-align: center;
    color: #009900;
}
.plain-letter{
    font-family: 'Oxanium';
    color: #009900;
}
.display-r{
    font-family: 'Oxanium';
    color: #009900;
    text-align: right;
}
.heading-box{
    font-family: 'Oxanium';
    text-align: center;
    color: #009900;
    border-style: solid;
    border-color: #009900;
    border-width: 1px;

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li {
    display: inline-block;
  }
a{
    font-family: 'Oxanium';
    color: #009900;
    padding: 8px;
}
a:hover{
    color:white;
}
.buttonstyles{
    font-family: 'Oxanium';
    text-align: center;
    text-transform: uppercase;
    /* background-color: #009900; */
    /* border: black; */

}
.inputstyle{
    font-family: 'Oxanium';
    text-align: center;
    /* text-transform: uppercase; */
}
.password_input{
    font-family: 'Oxanium';
    text-align: center;
}
.centerbox{
    text-align: center;
    /* text-transform: uppercase; */
    color: whitesmoke;

}
body{
    background-color: black;
}
.records{
    color:#009900 ;
}
.table{
    color:#009900 ;
}
table {
    font-family: 'krub';
    border-collapse: collapse;
    width: 100%;
    /* text-align: center; */

  }
  
  td, th {
    border: 1px solid #009900;
    text-align: left;
    padding: 8px;
    text-align: left;
  }
  
  /* tr:nth-child(even) {
    background-color: black;
  } */
  .schedulelink{
        text-align: center;
        font-family: 'Oxanium';
        text-align: center;
        color: #009900;
        display:block;
  }
p{
    font-family: 'Oxanium';
    color: #009900;
    text-align: right;
}
.error{
    font-family: 'Oxanium';
    text-align: center;
    color: #FFFFFF;
}